<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209791553033-gooeacphtrf0vobvqrtah99t4v3csco1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209791553033-gooeacphtrf0vobvqrtah99t4v3csco1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209791553033-6b8hj6ks0dbuj8u9n98k18bcck0mrae8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR3FvJbDEkYzhZsI16VMmUuoa0RY2_uvo</string>
	<key>GCM_SENDER_ID</key>
	<string>209791553033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofftechz.softmeet</string>
	<key>PROJECT_ID</key>
	<string>instantchat-softmeet</string>
	<key>STORAGE_BUCKET</key>
	<string>instantchat-softmeet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209791553033:ios:7f49ea0a403ac54567b2d8</string>
	<key>DATABASE_URL</key>
	<string>https://instantchat-softmeet-default-rtdb.firebaseio.com</string>
</dict>
</plist>